{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password - StockSale</title>

    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/app.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/pages/auth.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/toastify/toastify.css' %}">
</head>

<body>
    <div id="auth">
        <div class="row h-100">
            <div class="col-lg-5 col-12">
                <div id="auth-left">
                    <a class="auth-title" href="{% url 'index' %}">
                        <h6 class="auth-title">StockSale</h6>
                    </a>
                    <div class="text mt-5 text-lg fs-4">
                        <p>Forgot Password? Input your email and we will send you a reset password link.</p>
                    </div>

                    <form method="POST">
                        {% csrf_token %}
                        <input type="email" name="email" class="form-control form-control-xl" placeholder="Email"
                            required>
                        <button class="btn btn-primary btn-lg w-100 mt-4">
                            Send OTP
                        </button>
                    </form>

                    <div class="text-center mt-5 text-lg fs-4">
                        <p class="text-gray-600">
                            Remember your account?
                            <a href="{% url 'login_view' %}" class="font-bold">Log in</a>.
                        </p>
                    </div>

                </div>
            </div>

            <div class="col-lg-7 d-none d-lg-block">
                <div id="auth-right"></div>
            </div>
        </div>
    </div>

    <script src="{% static 'assets/vendors/toastify/toastify.js' %}"></script>

    {% if messages %}
    {% for message in messages %}
    <script>
        Toastify({
            text: "{{ message }}",
            duration: 3000,
            close: true,
            gravity: "top",
            position: "right",
            backgroundColor:
                "{% if message.tags == 'success' %}#28a745{% else %}#dc3545{% endif %}",
            stopOnFocus: true
        }).showToast();
    </script>
    {% endfor %}
    {% endif %}
</body>

</html>